.imagen{ /* Clase para la imagen del card de campaña */
    height: 290px;
}
.cardHeight{ /* Clase para emparejar la altura de las cartas*/
    height: 100% !important;
}
#root{
     background: #121b26;
    height: 100vh;
    min-height: auto;
    max-height: fit-content;
}

.fondoiniciojaja{
  background-image: url("/imgmapa/fondologin.gif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.cardbackground{
    background-color: black;
    color: white;
}
.btncito {
    position: relative;
    display: block;
    height: 77px;
    width: 300px;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: black;
    color: #fff;
    font-size: 18px;
    overflow: hidden;
    transition: all 500ms ease;
    border: 2px solid #1da5bd;
    margin-bottom: 40px;
    z-index: 0;
    font-weight: 700;
    cursor: pointer;
    z-index: 1000;
  }
  .btncito::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    background-color: #1da5bd;
    transition: all 500ms ease;
    z-index: -1;
  }
 
  .btncito--3:hover {
    animation: shadow-pulse 1000ms 1;
    background-color: #1da5bd;
    color: #ffffff;
  }
  .buttonback{
    background: radial-gradient(circle, rgba(11,79,61,1) 0%, rgba(11,33,33,1) 71%);
    color: white;
  }
  @keyframes shadow-pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(32, 226, 215, 0.6);
    }
    100% {
      box-shadow: 0 0 8px 16px rgba(32, 226, 215, 0);
    }
  }