.app1{
    width: 700px;
    /* background: radial-gradient(circle, rgba(118,119,142,1) 0%, rgba(56,56,77,1) 71%);  */
    background-image: url('https://cdn.discordapp.com/attachments/981331949501181962/990334889624748132/tablet.png');
    background-size: 650px 450px;
    background-repeat: no-repeat;
    background-position: center;
    height: 450px;
    padding: 20px;
    z-index: 1000;
}

.dentrodetablet{
  background-position: center;
  display: block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 0.1px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 40px;
  margin-bottom: 10px;

}

.bation{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5px;
  border-radius: 50px;
}

.imgas{
  margin: 30px;
  z-index: 1000;
}

.juegoimgcont{
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.juegoimgcont2{
  display: flex;
     background-size: 500%;
    animation: fanimado 10s infinite;
  z-index: 1000;
}

.app-levels{
   
  padding: 50px;
  background: #1da5bd72 ;
  background-size: 500%;
  animation: fanimado 10s infinite;
  border-radius: 30px;
  color: white;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
} 

.lvl3-container{
  width: 100%;
  height: auto;
  padding: 100px;
  background-color: #121b26;
  display: flex;
  justify-content: center;
  
  align-items: center;
  flex-direction: column;
  z-index: 1000;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
}



.titulomision{
    font-size: 30px;
    font-weight: bold;
    background: radial-gradient(circle, rgba(18,62,70,1) 0%, rgba(18,27,38,1) 100%);
  border-radius: 50px;
  box-shadow: 5px 5px 10px 5px rgba(7, 49, 40, 0.425);
    color: #fdfdfd;
    text-align: center;
    display: block;
    z-index: 1000;
    padding: 10px;
}

.textomision{
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.textomision2{
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.bg_animate2{
  z-index: 1000;
}

.ContenedorJuego2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://cdn.discordapp.com/attachments/924106496059539557/990333141820530698/fondo4.jpg');
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    z-index: 1000;
}

.ola{
  text-align: center;
  z-index: 1000;
}

.task-container{
    margin: 0;
    list-style: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 3rem;
    display: inline-flex;
    flex-direction: row;
    z-index: 1000;
}

.task-container-levels{
  margin: 0;
  list-style: none;
  padding: 5px;
  border-radius: 5px;
  font-size: 3rem;
  display: inline-flex;
  flex-direction: column;
  z-index: 1000;
}

.task-item{
    color:  whitesmoke;
    box-shadow: 0px, 2px, 4px, #4a4c4e;
    border-radius: 10px;
    padding: 10px 10px;
    background: radial-gradient(circle, rgba(18,62,70,1) 0%, rgba(18,27,38,1) 100%);
    text-align: center;
    margin: 5px;
    border: 2px solid transparent;
    font-size: 20px;
    width: auto;
    z-index: 1000;
}

.task-item:focus{
    outline: none;
    border: 2px solid #4a9af5;
    z-index: 1000;
}

.task-item-levels{
  color:  whitesmoke;
  box-shadow: 0px, 2px, 4px, #4a4c4e;
  border-radius: 10px;
  padding: 30px 30px;
  background: radial-gradient(circle, rgba(18,62,70,1) 0%, rgba(18,27,38,1) 100%);
  
  margin: 5px;
  border: 2px solid transparent;
  font-size: 25px;
  width: auto;
  z-index: 1000;
}

.task-item-levels:focus{
  outline: none;
  border: 2px solid #2f3842;
  z-index: 1000;
}

 .mensaje1{
font-size: 30px;
font-family: 'Varela', sans-serif;
color: white;
position: relative;
margin: 0 auto;
z-index: 1000;
}

.botin{
  color: white;
  z-index: 1000;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.623);
}

.botin-levels{
  color: white;
  width: auto;
  background-color: #2c7d71;
  z-index: 1000;
}

.centered-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .content {
    background-color: #43434300;
    z-index: 1000;
  }

  .centered-elements-check {
    display: flex;
    width: 200px;
    margin-top: 10px;
    justify-content: space-around;
    z-index: 1000;
  }
  
  .content-check {
    background-color: #43434300;
    z-index: 1000;
  }
  
  .btncito {
    position: relative;
    display: block;
    height: 77px;
    width: 300px;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: #f30808;
    color: #fff;
    font-size: 18px;
    overflow: hidden;
    transition: all 500ms ease;
    border: 2px solid #f30808;
    margin-bottom: 40px;
    z-index: 0;
    font-weight: 700;
    cursor: pointer;
    z-index: 1000;
  }
  .btncito::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    background-color: #f3ef08;
    transition: all 500ms ease;
    z-index: -1;
  }
 
  .btncito--4:hover {
    animation: shadow-pulse 1000ms 2;
    background: rgba(18,62,70,1);
    color: #ffffff;
  }

  .btncito--4-levels:hover {
    animation: shadow-pulse 1000ms 2;
    background-color: rgba(18,62,70,1);
    color: #ffffff;
  }
  
  @keyframes shadow-pulse {
    0% {
      box-shadow: 0 0 0 0 #f30808;
    }
    100% {
      box-shadow: 0 0 8px 16px #f30808;
    }
  }

  .burbuja2{
    z-index: 1;
    opacity: 0.3;
    border-radius: 50px;
    position: absolute;
    bottom: 0;
    background:rgb(0, 0, 0);
    animation: burbujas 3s linear infinite;
}
.burbuja2:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    
    animation-duration: 3s;
    z-index: 1;
}
.burbuja2:nth-child(2){
    width: 30px;
    height: 30px;
    left: 35%;
    animation-duration: 4s;
    z-index: 1;
}
.burbuja2:nth-child(3){
    width: 80px;
    height: 80px;
    left: 25%;
    animation-duration: 5s;
    z-index: 1;
}
.burbuja2:nth-child(4){
    width: 30px;
    height: 30px;
    left: 45%;
    animation-duration: 3s;
    z-index: 1;
}
.burbuja2:nth-child(5){
    width: 80px;
    height: 80px;
    left: 65%;
    animation-duration: 4,5s;
    z-index: 1;
}
.burbuja2:nth-child(6){
    width: 80px;
    height: 80px;
    left: 75%;
    animation-duration: 5s;
    z-index: 1;
}
.burbuja2:nth-child(7){
    width: 30px;
    height: 30px;
    left: 90%;
    animation-duration: 4s;
    z-index: 1;
}

@keyframes burbujas{
    0%{
        bottom: 100vh;
        opacity: 0;
    }
    5%{
        opacity: .4;
    }
    100%{
        bottom: 0;
        opacity: 0;
    }
}