.centrar{
    display: block;
    background: white;
    text-align: center;  
}

.Login{
    width: auto;
    height: auto;
    display: flex;
    background: white;
    text-align: center; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url("/imgmapa/fondologin.gif");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}


@keyframes fanimado{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #00B7D4, #505488, #2F3F80, #161569);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: radial-gradient(circle, rgba(18,62,70,1) 0%, rgba(18,27,38,1) 100%);
    background-size: 500%;
    animation: fanimado 10s infinite;
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }
.fondo2{
    background-image: url("/imgmapa/rocket.gif");
    background-color: rgb(15, 50, 56);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: bottom;    
}
.mono {
    font-family: monospace;
}
.type {
    font-family: monospace;
    color:#0000;
    background:
      linear-gradient(-90deg,#ffffff 5px,#0000 0) 10px 0,
      linear-gradient(#ffffff 0 0) 0 0;
    background-size:calc(90*1ch) 200%;
    -webkit-background-clip:padding-box,text;
    background-clip:padding-box,text;
    background-repeat:no-repeat;
    animation: 
      b .7s infinite steps(1),   
      t calc(90*.1s) steps(90) forwards;
    animation-iteration-count: infinite;

  }
  @keyframes t{
    from {background-size:0 200%}
  }
  @keyframes b{
    50% {background-position:0 -100%,0 0}
  }