.fondo{
    background: url("/imgmapa/fondo.png") no-repeat center;
    background-size: 100%;
    width: 850px; 
    height: 800px;  
    position: fixed; 
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
}

.centradomapa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background-image: url("/imgmapa/fondologin.gif");
    background-size: cover;
    background-repeat: no-repeat;
}

.nivel1{
    background: url("/imgmapa/nivel1.png") no-repeat center;
    background-size: 70%;
    width: 150px;
    height: 150px;
    border: none;
    position: absolute;
    left: 135px;
    top: 370px;
}
.nivel2{
  background: url("/imgmapa/nivel2.png") no-repeat center;
  background-size: 60%;
  width: 200px;
  height: 200px;
  border: none;
  position: absolute;
  left: 345px;
  top: 240px;
}
.nivel3{
  background: url("/imgmapa/nivel3.png") no-repeat center;
  background-size: 65%;
  width: 300px;
  height: 300px; 
  border: none;
  position: absolute;
  left: 580px;
  top: 50px;
}

.izq{
    background-image: url("/imgmapa/izq.png"); 
    background-size: 100%;
    display: block;
    width: 50px;
    height: 50px;
    border: none;
    position: absolute;
    left: 20px;
    top: 550px;
  }

  .der{
    background-image: url("/imgmapa/der.png"); 
    background-size: 100%;
    display: block;
    width: 50px;
    height: 50px;
    border: none;
    position: absolute;
    left: 80px;
    top: 550px;
  }

  .sel1{
    background-image: url("/imgmapa/select.png"); 
    background-size: 100%;
    display: block;
    width: 50px;
    height: 50px;
    border: none;
    position: absolute;
    left: 140px;
    top: 550px;
  }

  .volar{
    background: url("/imgmapa/cohete.png") no-repeat center;
    transform: rotate(30deg);
    background-size: 100%;
    display: block;
    width: 100px;
    height: 160px;
    border: none;
    position: absolute;
    left: 140px;
    top: 90px;
  }

  .volar1{
    background: url("/imgmapa/cohete.png") no-repeat center;
    transform: rotate(180deg);
    background-size: 100%;
    display: block;
    width: 100px;
    height: 160px;
    border: none;
    position: absolute;
    left: 190px;
    top: 270px;
  }

  .volar2{
    background: url("/imgmapa/cohete.png") no-repeat center;
    transform: rotate(40deg);
    background-size: 100%;
    display: block;
    width: 100px;
    height: 160px;
    border: none;
    position: absolute;
    left: 300px;
    top: 300px;
  }

  .volar3{
    background: url("/imgmapa/cohete.png") no-repeat center;
    transform: rotate(60deg);
    background-size: 100%;
    display: block;
    width: 100px;
    height: 160px;
    border: none;
    position: absolute;
    left: 590px;
    top: 170px;
  }

