.n1p1contenedor{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.n1p1titulo{
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(200, 255, 225);
    text-align: center;
}
.n1p1acordeon{
    width: 100%;
}
.n1p1Aitem{
    background: rgba(18,27,38);
    color: white;
}
.n1p1Aheader{
    background: blue;
    color: white;
}