*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.hola{
    z-index: 1000;
    font-size: 25px;
    color: white;
    text-align: center;
    background: linear-gradient(to right,
    #090b63, #2735d3);
    border-radius: 10px;
}

.hola1{
    z-index: 1000;
    background: #050322;
    color: white;
    text-align: center;
    border-radius: 10px;

}

.hola0{
    background: #050322;
    border-radius: 10px;
}

.bienvenida{
    width: 500px;
    margin: 5px;
    padding: 2em;
    font-size: 20px;
}

.button5{
    position:relative;
    padding:10px 10px;
    border:none;
    background: linear-gradient(to right,
    #090b63, #2735d3);
    cursor:pointer;
    outline:0;
    font-size:18px;
    margin:20px;
}

.button5.type1{
    color:#fcfcfc;
}

.button5.type1.type1::after,.button5.type1.type1::before{
    content:"";
    display:block;
    position:absolute;
    width:20%;
    height:20%;
    border:2px solid;
    transition:all .6s ease;
    border-radius:2px
}
.button5.type1.type1::after{
    bottom:0;
    right:0;
    border-color:transparent #fcfcfc #fcfcfc transparent
}
.button5.type1.type1::before{
    top:0;
    left:0;
    border-color:#fcfcfc transparent transparent #fcfcfc
}
.button5.type1.type1:hover:after,.button5.type1.type1:hover:before{
    width:100%;
    height:100%
}




.popup{
    background: #f8f8f8;
    box-shadow: 0px 0px 5px 8px rgba(0,0,0,0.3);
    border-radius: 5px;
    font-family: "sans-serif";
    padding: 20px;
    text-align: center;
    width: 600px;

}


.popup .btn-cerrar-popup{
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #BBBBBB;
    transition: .3s ease all;

}

.popup .btn-cerrar-popup:hover{
    color: black;
}

.popup h3{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    /* opacity: 0; */


}

/* FIN ALERTA */

.bg_animate{
    width: 100%;
    height: 100vh;
    background: #15133C;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.banner_title h1{
    color: white;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    background: #1A2849;
    padding: 20px;
}

.banner_img img{
    width: 400px;
    display: block;
    z-index: 1000;
}

/* burbujas */

.burbuja{
    z-index: 1;
    background: #ea37a3;
    opacity: 0.3;
    border-radius: 50px;
    position: absolute;
    bottom: 0;

    animation: burbujas 3s linear infinite;
}
.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    z-index: 1;
}
.burbuja:nth-child(2){
    width: 30px;
    height: 30px;
    left: 35%;
    animation-duration: 4s;
    z-index: 1;
}
.burbuja:nth-child(3){
    width: 80px;
    height: 80px;
    left: 25%;
    animation-duration: 5s;
    z-index: 1;
}
.burbuja:nth-child(4){
    width: 30px;
    height: 30px;
    left: 45%;
    animation-duration: 3s;
    z-index: 1;
}
.burbuja:nth-child(5){
    width: 80px;
    height: 80px;
    left: 65%;
    animation-duration: 4,5s;
    z-index: 1;
}
.burbuja:nth-child(6){
    width: 80px;
    height: 80px;
    left: 75%;
    animation-duration: 5s;
    z-index: 1;
}
.burbuja:nth-child(7){
    width: 30px;
    height: 30px;
    left: 90%;
    animation-duration: 4s;
    z-index: 1;
}

@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    5%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}